In [12]:
# LISTS AND MORE LOOPS!

a = list()
a = []

print(a)

myvar = "For"

my_list = ['a', 'b', 'f', 7, myvar]

#ordered

#my_list[0]

#my_list[2:4]

print(my_list[0:4:2])

[]
['a', 'f']

In [14]:
spreadSheet = [
["Name", "hair color",  "eye color", "Current Netflix Show"],
["Chelsea", "brown", "brown", "The Office"],
["Tony", "brown", "green", "Black Mirror"],
["Joyce", "black",  "brown", "Ozarks"]
]

for row in spreadSheet:
    print(row)

['Name', 'hair color', 'eye color', 'Current Netflix Show']
['Chelsea', 'brown', 'brown', 'The Office']
['Tony', 'brown', 'green', 'Black Mirror']
['Joyce', 'black', 'brown', 'Ozarks']

In [4]:
column_headers = spreadSheet[0]

print(column_headers)

['Name', 'hair color', 'eye color', 'Current Netflix Show']

In [5]:
row_1 = spreadSheet[1]

print(row_1)

['Chelsea', 'brown', 'brown', 'The Office']

In [7]:
name = row_1[0]

print(name)

Chelsea

In [15]:
name_2 = spreadSheet[1][0]

print(name_2)

letter = spreadSheet[1][0][0]
print(letter)

Chelsea
C

In [16]:
show = spreadSheet[2][3]

print(show)


show_alt = spreadSheet[2][-1]

print(show)

Black Mirror
Black Mirror

In [18]:
# OPERATORS

my_name =["Chelea", "Mariko", "Parlett"]

last_n = ["Pelleriti"]

my_name = my_name + last_n

print(my_name)

TypeError: can only concatenate list (not "str") to list

In [19]:
my_nameeee = my_name * 10

print(my_nameeee)

['Chelea', 'Mariko', 'Parlett', 'Chelea', 'Mariko', 'Parlett', 'Chelea', 'Mariko', 'Parlett', 'Chelea', 'Mariko', 'Parlett', 'Chelea', 'Mariko', 'Parlett', 'Chelea', 'Mariko', 'Parlett', 'Chelea', 'Mariko', 'Parlett', 'Chelea', 'Mariko', 'Parlett', 'Chelea', 'Mariko', 'Parlett', 'Chelea', 'Mariko', 'Parlett']

In [20]:
my_name =  my_name + "hello"

TypeError: can only concatenate list (not "str") to list

In [21]:
lst_1 = ["a", "b", "cat"]

lst_2 = ["a","b", "cry"]

lst_1 < lst_2

True

In [22]:
lst_3 = [1,3,5]

lst_4 = [1,6,2,4,5]

lst_3 < lst_4

True

In [24]:
lst_5 = [1,2,3]

lst_6 = [1,2,3,4]

lst_5 < lst_6

True

In [25]:
friends = ["monica", "chandler", "pheobe", "ross", "rachel", "gunther", "janice", "mike", "carol", "joey", "ben", "emma"]

while True:
    guess = input("guess a character from FRIENDS ")
    guess = guess.lower()
    if guess in friends:
        print("Your guess of " + guess + " is correct!")
        break

#HOW CAN I MAKE THIS ACCOUNT FOR CAPITALIZATION?

guess a character from FRIENDS  michael

guess a character from FRIENDS  ross

Your guess of ross is correct!

In [26]:
nums = [1,2,4,7,8,10,66,38,294,18,18,294]

for n in nums:
    if n == max(nums):
        print("winner!!")
    else:
        print("nah")

nah
nah
nah
nah
nah
nah
nah
nah
winner!!
nah
nah
winner!!

In [28]:
# MUTABILITY
hamlet = ["to", "be", "or", "not", "to", "be"]

print(hamlet[0])

hamlet[0] = "To"

print(hamlet)

to
['To', 'be', 'or', 'not', 'to', 'be']

In [29]:
hamlet.index("not")

3

In [30]:
hamlet.count("be")

2

In [37]:
# CHANGING LISTS

emptyList = []


emptyList.append("apples")
emptyList.append("apples")

print(emptyList)

emptyList.insert(0,"bananas")

print(emptyList)

emptyList.append("eggs")

print(emptyList)

emptyList.remove("apples")
print(emptyList)

lastOne = emptyList.pop()
print(lastOne, emptyList)

['apples', 'apples']
['bananas', 'apples', 'apples']
['bananas', 'apples', 'apples', 'eggs']
['bananas', 'apples', 'eggs']
eggs ['bananas', 'apples']

In [38]:
my_list = ["cantelope","apples","deer","bananas"]

my_list.sort()

print(my_list)

['apples', 'bananas', 'cantelope', 'deer']

In [39]:
my_list = ["cantelope","apples","deer","bananas"]

print(sorted(my_list))

print(my_list)

['apples', 'bananas', 'cantelope', 'deer']
['cantelope', 'apples', 'deer', 'bananas']

In [42]:
st = "One day, Mr. Finch came into the office. It had been raining. Everything I'm about to say to you was said in front of me on that afternoon. Mr. Finch walked into the office, and he was wearing a raincoat, he was wearing a rain hat, and he had his cane. And he walked in and he said, and I'm quoting, 'Ah! One feels like a duck splashing around in all this wet! And when one feels like a duck, one is happy!'' And then Mary yelled, 'Ooh, ducklings!' To which Mr. Finch replied, 'Too old to be a duckling. Quack, quack.' And then walked into his office. I think about that every day."

words = st.split(" ")

qs = 0

for word in words:
    if "q" in word.lower():
        qs += 1
        print("q")
print(qs)

q
q
q
3

In [44]:
days = "Monday Tuesday Wednesday Thursday Friday"

M,T,W,Th,F = days.split(" ")

print(M)

Monday